//- --------------------------------------------------------
//- Variables
//- --------------------------------------------------------

// Base Colors
$baseColor                = #282828
$bgColor                  = #ffffff
$accentColor              = #3c82c1

// Base Fonts
$baseFontSize             = 16px
$baseLineHeight           = 200%
$baseFontFamily           = Helvetica, sans-serif
$secondaryFontFamily      = 'Helvetica Neue', sans-serif

// Base Grid
$baseGrid                 = $baseFontSize * 3 // 48px
$halfGrid                 = $baseGrid / 2 // 24px
$quarterGrid              = $baseGrid / 4 // 12px

// Accent Colors
$bodyBgColor              = darken($bgColor, 25%)
$borderColor              = lighten($baseColor, 90%)

// Selection Colors
$selectionColor           = $bgColor
$bgSelectionColor         = lighten($baseColor, 15%)

